[Desktop Entry]
Version=1.0
Name=WebMonitor
Icon=/home/siamang/Dev/WebMonitor/media/cctv.png
Exec=/home/siamang/Dev/WebMonitor/WebMonitor
Terminal=false
Type=Application
Categories=Utility;Application;
